{% extends "layout.html" %}
{% block title %}
    {{ super() }}
{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-md-1">
    <div class="col mb-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Configuration List</h5>
                <p class="card-text">All Configurations available.</p>
            </div>
        </div>

        <br>

        <div class="card text-center">
            <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Add new Configuration</p>
                    <a href="{{ 'add\\configurations'}}" class="btn btn-info btn-block">Add</a>
                </div>
            </div>
        </div>

        <br>

        {% for configuration in configurations %}
        <div class="card mb-2">

            <div class="row">

                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">{{ configuration }}</p>
                    </div>
                </div>

                <div class="card-body">
                    <a href="{{ 'configurations\\' + configuration }}" class="btn btn-info btn-block">See</a>
                </div>

                <div class="card-body">
                    <a href="#" class="btn btn-danger btn-block disabled">Remove</a>
                </div>

            </div>

        </div>
        {% endfor %}

        {% for configuration in user_made_configurations %}
        <div class="card mb-2">

            <div class="row">

                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">{{ configuration }}</p>
                    </div>
                </div>

                <div class="card-body">
                    <a href="{{ 'configurations\\' + configuration }}" class="btn btn-info btn-block">See</a>
                </div>

                <div class="card-body">
                    <a href="{{ 'remove\\configurations\\' + configuration }}" class="btn btn-danger btn-block">Remove</a>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}