{% extends "layout.html" %}
{% block title %}
    {{ super() }}
{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-md-1">
    <div class="col mb-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Pieces List</h5>
                <p class="card-text">All Pieces available.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div id="list-example" class="list-group text-center">
            {% for piece in pieces %}
                <a class="list-group-item list-group-item-action" href="{{ 'pieces\\' + piece }}">{{ piece }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}